

html {
    scroll-behavior: smooth;
  }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    color:white;
    font-family:IBM\ Plex\ Sans,sans-serif;
  
} 
.container-fluid{
    margin:0;
    padding:0;
}
.container-fluid .row{
    margin-right:0;
    padding:0;
}
header{
    background-color:#0099ff;
    width:100vw;
    height:100vh;
    clip-path:polygon(0% 0%,100% 0%,100% 75%,0% 100%);
}
.navigation li a{
    font-family: IBM\ Plex\ Sans,sans-serif;
    text-decoration: none;
    font-size:16px;
    font-weight: bolder;
    font-variant: small-caps;
    color:white;
} 
.navigation li a:hover{
    border-bottom:1px solid black;
}

.carousel-caption h5{
  font-size:16px;
  font-family: IBM\ Plex\ Sans,sans-serif;
  font-variant:small-caps;
  font-weight:bold;

}
.content{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.content h1{
    color:white;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    font-variant: small-caps;
    font-size:24px;
    font-weight: bolder;
    font-family: IBM\ Plex\ Sans,sans-serif;
}
.content h4{
    font-variant: small-caps;
    font-size:20px;
    font-weight: bold;
    font-family:IBM\ Plex\ Sans,sans-serif;
}
.content a{
    text-decoration: none;
     border-radius:10px;
    padding:2px 10px;
    font-size:16px;
    font-weight:bold;
    font-family: IBM\ Plex\ Sans,sans-serif;
}

.search-div{
    min-height:50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:white;  
    -webkit-box-shadow: 4px 1px 32px 4px rgba(235,217,235,0.88);
    -moz-box-shadow: 4px 1px 32px 4px rgba(235,217,235,0.88);
    box-shadow: 4px 1px 32px 4px rgba(235,217,235,0.88);
    
}
.center-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.center-form input{
    font-size:1rem;
    font-weight: bolder;
    min-width:300px;
    border-radius: 4rem;
    text-align: center;
    font-family: IBM\ Plex\ Sans,sans-serif;
}


.about-div{
    color:white;
    height:50vh;
    background-color:#0099ff;
    display:flex;
    align-items:center;
    justify-content: center;
    clip-path: polygon(0% 25%,100% 0%,100% 75%,0% 100%);

}
.about-div-info{
   display:flex;
   align-items:center;
   justify-content: center;
   -webkit-box-shadow: 4px 1px 41px 8px rgba(57,23,191,1);
-moz-box-shadow: 4px 1px 41px 8px rgba(57,23,191,1);
box-shadow: 4px 1px 41px 8px rgba(57,23,191,1);
}
.about-div-info h3{
    color:white;
    font-size:20px;
    line-height: 1.6;
    font-style: normal;
    font-stretch: normal;
    font-family: IBM\ Plex\ Sans,sans-serif;
    padding-right: 22px;
}
.about-div-img {
    display:flex;
    align-items:center;
    justify-content: center;

 }
 .myfooter{
    height:15vh;
    display:flex;
    font-weight: bolder;
    align-items:center;
    justify-content: center;

    color:black;
    -webkit-box-shadow: 4px 1px 32px 4px rgba(235,217,235,0.88);
    -moz-box-shadow: 4px 1px 32px 4px rgba(235,217,235,0.88);
    box-shadow: 4px 1px 32px 4px rgba(235,217,235,0.88);

  
 }
 .myfooter h3{
   font-size:20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

.search-result{
    max-height:100%;
    border-radius:20px;
    -webkit-box-shadow: 4px 1px 32px 4px rgba(235,217,235,0.88);
    -moz-box-shadow: 4px 1px 32px 4px rgba(235,217,235,0.88);
    box-shadow: 4px 1px 32px 4px rgba(235,217,235,0.88);
}
.user-name h3{
 color:black;
 font-family: IBM\ Plex\ Sans,sans-serif;
 font-size:24px;
 font-weight:900;
}
.movie-name h4{
    color:black;
    font-family: IBM\ Plex\ Sans,sans-serif;
    font-size: 22px;
    font-weight:700;
}
.movie-rating h4{
    color:black;
    font-family: IBM\ Plex\ Sans,sans-serif;
    font-size:20px;
    font-weight: 650;
}
.comment h4{
    color:black;
    font-family: IBM\ Plex\ Sans,sans-serif;
    font-size: 20px;
    line-height: 1.4;
    font-style: normal;
    font-stretch: normal;
    font-weight: 550;
}
.comment h6{
    color:black;
    font-size: 16px;
    line-height: 1.6;
    font-style: normal;
    font-stretch: normal;
    font-family: IBM\ Plex\ Sans,sans-serif;
}
.error-page{
    width:100vw;
    height:100vh;
}

.error-header{
    background-color:#0099ff;
}


/* media query */
@media only screen and (max-width:768px) {
  
    header{
      clip-path:polygon(0% 0%,100% 0%,100% 100%,0% 100%);
    }
  }

  
  @media only screen and (max-width:540px) {
   
    header{
        clip-path:polygon(0% 0%,100% 0%,100% 75%,0% 100%);
    }

     .about-div{
        clip-path: polygon(0% 5%,100% 0%,100% 95%,0% 100%);
    }

     .about-div-img img{
      width:100%;
      height:100%;
      padding-top:1rem;
    } 
 
   
  } 




 @media only screen and (max-width:360px) {
   header{
        clip-path:polygon(0% 0%,100% 0%,100% 95%,0% 100%);
    }

    .about-div{
        clip-path: polygon(0% 5%,100% 0%,100% 100%,0% 100%);
    }
   .about-div-img img{
      width:100%;
      padding-top:1rem;
    } 
  

  } 

  /* media query */

@media only screen and (max-width:330px) {
  
    .about-div{
        clip-path: polygon(0% 10%,100% 0%,100% 95%,0% 100%);
    }
  } 

  @media only screen and (max-width:320px) {
   header{
        clip-path:polygon(0% 0%,100% 0%,100% 100%,0% 100%);
    }

    .about-div{
        clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 100%);
    }

    .about-div-img img{
      width:100%;
      height:100%;
      padding-top:1rem;
    } 
   
  }



  @media only screen and (max-width: 990px) {
    .user-name h3{
        font-size:20px;
       }
       .movie-name h4{
        font-size: 18px;
       
    }
    .movie-rating h4{
        font-size:18px;
    }
    .comment h4{
        font-size: 16px;
    }
    .comment h6{
        font-size: 14px;
    }
    .about-div-info h3{
        font-size: 14px;
    }
    .content h1{
        font-size: 20px;

    }
    .content h4{
        font-size: 16px;
    }
  }
